form
{
    display: grid;
    grid-template-areas:
        "authenticate"
        "change_password"
        "counter"
        "members"
        "save";
    gap: 20px;

    & .members
    {
        & .fields
        {
            display: grid;
            grid-template-columns: 1fr auto auto;

            & input[type=number]
            {
                min-width: 50px;
            }
        }
    }

    & .invalid_password
    {
        color: red;
    }
}