form
{
    display: grid;
    grid-template-areas:
        "counter"
        "members"
        "create";
    gap: 20px;

    & .members
    {
        & .fields
        {
            
            display: grid;
            grid-template-columns: 1fr auto;
        }
    }
}